﻿@model IEnumerable<PeliculasSeries.Models.Pelicula>

@{
    ViewBag.Title = "Peliculas - Index";
}

<h2>Peliculas y Series</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temporada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Generos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productoras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temporada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Generos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
